<ng-container class="row col-8">
    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Placed On</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items; let i = index ">
                <td> {{ getName(item.product_id)}} </td>
                <td> {{item.placedDate | date}} </td>
                <td> {{ item.quantity }}</td>
                <td>{{ ( item.quantity * getPrice(item.product_id) ) | currency:'Rs '}} </td>
            </tr>
            <tr>
                <td></td>
                <td>Grand Total</td>
                <td>{{totalItems}}</td>
                <td>{{getTotal() | currency:'Rs '}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>