<ng-container class="row col-8">
    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Total Items </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cart of shoppingCartItems; let i = index ">
                <td> {{ getName(cart.user_id)}} </td>
                <td> {{ getQty(i) }}</td>
                <td><a href="#">view</a> </td>
            </tr>
        </tbody>
    </table>
</ng-container>